<div *ngIf="!doneLoading">
    <mat-spinner></mat-spinner>
    <p>
        Loading...
    </p>
</div>

<div class="background" *ngIf=doneLoading>

    <div class="details">
        <h1> Title: {{title}}</h1>
        <p> Created: {{created}}</p>
        <p> Number of Comments: {{numOfComments}}</p>
        <p> Author: {{author}}</p>
        <p> Score: {{score}}</p>
        <a [href]="permalink">{{permalink}}></a>
    </div>

    <div>
        <ng-container *ngIf="url; then hasUrl; else noUrl"></ng-container>
        <ng-template #hasUrl>
            <div *ngIf="videoUrl" class="video">
                <video controls>
                    <source [src]="videoUrl" />
                    <track label="English" kind="captions" srclang="en" src="resources/myvideo-en.vtt" default>
                    Browser not supported
                </video>
            </div>

            <a [href]="url"><img class="img" [src]="url" alt="image" (error)="imageNotFound($event)" /></a>
        </ng-template>
        <ng-template #noUrl>
            This post has no image
        </ng-template>
    </div>

    <div class="selftext">
        <ng-container *ngIf="selftext; then hasSelftext; else noSelftext"></ng-container>
        <ng-template #hasSelftext>
            {{selftext}}
        </ng-template>
        <ng-template #noSelftext>
            This post has no selftext
        </ng-template>
    </div>

    <button mat-raised-button (click)="onReadComments(id)">Read Comments</button>

</div>