.background {
    background-color: #AD1457;
    padding: 20px;
}

.details {
    color: white;
    background-color: #FF5252;
}

.selftext {
    color: white;
    background-color: #C2185B;
    overflow-wrap: break-word;
}

.img {
    max-width: 100%;
    max-height: 500px;
}