<div class="temp">
    <p>{{commentURL}}</p>

    <div>

        <mat-list *ngFor="let top of topComments;">
            <mat-list-item style="margin-left: -100px; background-color: cadetblue;">
                <p matLine>
                    {{top}}
                </p>
            </mat-list-item>

            <mat-list *ngFor="let comment of comments;">
                <mat-list-item>
                    <p matLine>
                        {{comment}}
                    </p>

                </mat-list-item>
            </mat-list>
        </mat-list>

    </div>







</div>