<div class="temp">
    <p>{{commentURL}}</p>

    <div>

        <mat-list >
            <mat-list-item *ngFor="let comment of something;">
                {{comment.author}} : {{comment.text}}
            </mat-list-item>

        </mat-list>

    </div>

    <!-- <mat-list *ngFor="let comment of comments;">
        <mat-list-item style="background-color: aqua; margin-left: -100px;">
            <p matLine>
                Author: {{comment.data.author}} {{comment.data.body}} {{comment.data.score}}
            </p>
            
        </mat-list-item>




        <mat-list-item *ngFor="let reply of replies;">
            <p matLine>
                {{reply}}
            </p>

            <div *ngIf="reply.reply">
                <mat-list-item *ngFor="let replyreply of reply.reply;">
                    <p style="margin-left: 200px;" matLine>
                        {{replyreply}}
                    </p>
                </mat-list-item>
            </div>
     

        </mat-list-item>

    </mat-list> -->

</div>