

.mat-list-item:nth-child(odd){
    background-color: rgb(207, 203, 203);
    height: auto;
    width: auto;
    padding-left: 100px;


}
.mat-list-item:nth-child(even){
    background-color:rgb(230, 228, 228);
    height: auto;
    width: auto;
    padding-left: 100px;



  }