<div>
    <mat-list>
        <mat-list-item *ngFor="let comment of comments;">
            <ng-container [ngTemplateOutlet]="(amountOfDashes(comment.author) > 0) ?complexcomment : simplecomment"
                [ngTemplateOutletContext]="{comment:comment}">
            </ng-container>

            <ng-template #simplecomment let-comment='comment'>
                <p>{{comment.author | authorName}} : Score: {{comment.score}} : {{timeAgo(comment.created)}} <br> {{comment.text}}
                </p>
            </ng-template>

            <ng-template #complexcomment let-comment='comment'>
                <p [style.padding-left]="getPaddingLeft(amountOfDashes(comment.author))">
                    {{comment.author | authorName}} : Score: {{comment.score}} : {{timeAgo(comment.created)}} <br> {{comment.text}}
                </p>
            </ng-template>
        </mat-list-item>
    </mat-list>
</div>